<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pegawai</title>
    <link rel="stylesheet" href="../css/pegawai.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Dashboard Pegawai</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/pegawai/dashboard" style="background-color: #444444;">Dashboard</a></li>
            <li><a href="/pegawai/profil">Profil</a></li> 
            <li><a href="/pegawai/kehadiran">Cek Kehadiran</a></li>
            <li><a href="/pegawai/gaji">Cek Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/pegawai/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <section>
            <h2>Ringkasan</h2>
            <h3>Periode <br><strong>10 November 2024 - 15 November 2024</strong></h3>
            <div class="summary">
                <div class="card">
                    <h3>Jam Kerja</h3>
                    <p>41 Jam</p>
                </div>
                <div class="card">
                    <h3>Total Gaji</h3>
                    <p>Rp 700.000</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
