<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Gaji</title>
    <link rel="stylesheet" href="../css/pegawai.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Informasi Gaji</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/pegawai/dashboard">Dashboard</a></li>
            <li><a href="/pegawai/profil">Profil</a></li>
            <li><a href="/pegawai/kehadiran">Cek Kehadiran</a></li>
            <li><a href="/pegawai/gaji" style="background-color: #444444;">Cek Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/pegawai/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <section>
            <h2>Informasi Total Gaji</h2>
            <div class="salary-info">
                <table>
                    <tr>
                        <td><strong>Periode Gaji : </strong></td>
                        <td><p th:text="${senin + ' - ' + minggu}"></p></td>
                    </tr>
                </table>
            </div>
        </section>
           
        <section>
            <h2>Riwayat Kehadiran</h2>
            <div class="table">
                <table>
                    <tr>
                        <th>Tanggal</th>
                        <th>Durasi Bekerja</th>
                        <th>Gaji Harian</th>
                    </tr>
                    <th:block th:each="item : ${kehadiran}" >
                        <tr>
                            <td th:text="${item.tanggal}"></td>
                            <td th:text="${item.durasikerja}"></td>
                            <td th:text="${'Rp ' + #numbers.formatDecimal(item.gaji, 1, 2)}"></td>
                        </tr>
                    </th:block>
                    <tr>
                        <td colspan="2">
                            <p style="font-weight: bolder;">Total Gaji:</p>
                        </td>
                        <td th:text="${'Rp ' + #numbers.formatDecimal(totalGaji, 1, 2)}"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><Strong>Status Gaji : </Strong></td>
                        <td  class="status-bayar">belum dibayarkan</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
