<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Gaji</title>
    <link rel="stylesheet" href="../css/pegawai.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Informasi Gaji</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/pegawai/dashboard">Dashboard</a></li>
            <li><a href="/pegawai/profil">Profil</a></li>
            <li><a href="/pegawai/kehadiran">Cek Kehadiran</a></li>
            <li><a href="/pegawai/gaji" style="background-color: #444444;">Cek Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/pegawai/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <section>
            <h2>Informasi Total Gaji</h2>
            <div class="salary-info">
                <table>
                    <tr>
                        <td><strong>Nama: </strong></td>
                        <td> El Rungkad</td>
                    </tr>
                    <tr>
                        <td><strong>ID Pegawai : </strong></td>
                        <td>6182201999</td>
                    </tr>
                    <tr>
                        <td><strong>Periode Gaji : </strong></td>
                        <td><p> 1 November 2024 - </p></td>
                        <td><p>7 November 2024</p></td>
                    </tr>
                </table>
            </div>
        </section>
           
        <section>
            <h2>Riwayat Kehadiran</h2>
            <div class="table">
                <table>
                    <tr>
                        <th>Tanggal</th>
                        <th>Durasi Bekerja</th>
                        <th>Gaji Harian</th>
                    </tr>
                    <tr>
                        <td rowspan="2">6-11-2024</td>
                        <td rowspan="2">8 jam 10 menit</td>
                        <td rowspan="2">Rp 150.000</td>
                    </tr>
                    <tr>

                    </tr>

                    <tr>
                        <td rowspan="2">7-11-2024</td>

                        <td rowspan="2">7 jam 40 menit</td>
                        <td rowspan="2">Rp 148.000</td>
                    </tr>
                    <tr>

                    </tr>
                    <tbody id="attendanceTableBody">

                    </tbody>
                    <tr>
                        <td colspan="2">
                            <p style="font-weight: bolder;">Total Gaji:</p>
                        </td>
                        <td>
                            700.000
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><Strong>Status Gaji : </Strong></td>
                        <td  class="status-bayar">belum dibayarkan</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
