<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kehadiran</title>
    <link rel="stylesheet" href="../css/pegawai.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Kehadiran</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/pegawai/dashboard">Dashboard</a></li>
            <li><a href="/pegawai/profil">Profil</a></li>
            <li><a href="/pegawai/kehadiran" style="background-color: #444444;">Cek Kehadiran</a></li>
            <li><a href="/pegawai/gaji">Cek Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/pegawai/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <section>
            <h2>Absen Kehadiran</h2>
            <div class="attendance">
                <p><strong>Status Kehadiran Hari Ini:</strong> <span id="attendance-status">Belum Hadir</span></p>
                <p><strong>Waktu Sekarang:</strong> <span id="real-time"></span></p>
                <form method="post" action="/pegawai/kehadiran" style="display: inline;">
                    <button type="submit" class="attendance-btn" id="attendanceButton" name="action" value="hadir">Klik Hadir</button>

                    <button type="submit" class="attendance-btn" id="attendanceExitButton" name="action" value="pulang">Klik Pulang</button>
                </form>
                <div th:text="${absenError}" style="color: red;"></div>
            </div>
        </section>
            
        <section>
            <h2>Riwayat Kehadiran</h2>
            <h3>Periode <br><strong th:text="${senin + ' - ' + minggu}"></strong></h3>
            <div class="table">
                <table>
                    <tr>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Status</th>
                        <th>Durasi Bekerja</th>
                        <th>Gaji Harian</th>
                    </tr>
                    <th:block th:each="item : ${kehadiran}" id="attendanceTableBody" >
                        <tr>
                            <td rowspan="2" th:text="${item.tanggal}"></td>
                            <td th:text="${item.jammasuk}"></td>
                            <td>Masuk</td>
                            <td th:rowspan="2" th:text="${item.durasikerja}"></td>
                            <td th:rowspan="2" th:text="${item.gaji}"></td>
                        </tr>
                        <tr>
                            <td th:text="${item.jamkeluar}"></td>
                            <td>Pulang</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

    </script>
</body>
</html>
