h2{
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
}
fieldset{
    border-radius: 10px;
    border: 2px solid #444444;
    width: 500px;
}
main{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
}
select, option {
    background-color: #3c4163;
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: white;
}
#masuk_data_pegawai{
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
    width: 500px;
}
td{
    text-align: left
}
table{
    border-spacing: 15px 10px;
}
#masuk_data_pegawai input{
    width: 250px;
    background-color: #3c4163;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
button.buttonSubmit{
    background-color: #1a1a40;
    border-radius: 8px;
    padding: 10px;
    color: white;
    margin-top: 10px;
}
button:hover{
    background-color: #444444;
    color: white;
}