.but_update{
    background-color: #1a1a40;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
input {
    background-color: #3c4163;
}
.update_data{
    margin: -50px;
}