<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Kehadiran</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Laporan Kehadiran</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="mainMenuOwner.html" id="dash">Dashboard</a></li>
            <li><a href="insert_data.html" id="addP">Tambah Data</a></li>
            <li><a href="view_data.html" id="listP">List Pegawai</a></li>
            <li><a href="update_data.html" id="updateP">Update Pegawai</a></li>
            <li><a href="attendance_report.html" id="attendanceR" style="background-color: #444444;">Laporan Kehadiran</a></li>
            <li><a href="salary_report.html" id="salaryR">Laporan Gaji</a></li>
            <li><a href="pay_salary.html" id="paySalary">Bayar Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>
        <div id="laporan_kehadiran">
            <h1>Laporan Kehadiran Pegawai</h1>
            <p>Laporan kehadiran akan ditampilkan di sini setelah diproses.</p>
            <label for="pegawai_id">Masukkan ID Pegawai:</label>
            <input type="text" id="pegawai_id" name="pegawai_id" required><br>
            <button type="submit" id="kehadiran">Request Laporan Semua Pegawai</button>
            <button type="submit" id="kehadiranPegawai">Request Laporan</button>
            <!-- <a href="generate_laporan_kehadiran.html"><button>Request Laporan</button></a> -->
        </div>
        <section style="display: none;" id="Tabelkehadiran">
            <h3>Riwayat Kehadiran 11 November 2024</h3>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Status</th>
                        <th>Durasi Bekerja</th>
                    </tr>
                    <tr>
                        <td rowspan="2">Steven</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:10:53</td>
                        <td>Masuk</td>
                        <td rowspan="2">8 jam 10 menit</td>
                    </tr>
                    <tr>
                        <td>15:20:46</td>
                        <td>Pulang</td>
                    </tr>

                    <tr>
                        <td rowspan="2">Olivia</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:07:49</td>
                        <td>Masuk</td>
                        <td rowspan="2">7 jam 40 menit</td>
                    </tr>
                    <tr>
                        <td>14:47:12</td>
                        <td>Pulang</td>
                    </tr>
                    <tbody id="attendanceTableBody">

                    </tbody>
                </table>
            </div>
        </section>
        <section style="display: none;" id="TabelkehadiranSteven">
            <h3>Riwayat Kehadiran 11 November 2024</h3>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Status</th>
                        <th>Durasi Bekerja</th>
                    </tr>
                    <tr>
                        <td rowspan="2">Steven</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:10:53</td>
                        <td>Masuk</td>
                        <td rowspan="2">8 jam 10 menit</td>
                    </tr>
                    <tr>
                        <td>15:20:46</td>
                        <td>Pulang</td>
                    </tr>
                    <tbody id="attendanceTableBody">

                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "ownerLogin.html";
        });

        let kehadiran = document.getElementById('kehadiran');
        let kehadiranPegawai = document.getElementById('kehadiranPegawai');
        let tabel = document.getElementById('Tabelkehadiran');
        let tabel2 = document.getElementById('TabelkehadiranSteven');
        kehadiran.addEventListener('click', function(){
            event.preventDefault();
            tabel2.style.display = 'none';
            tabel.style.display = 'block';
        })
        kehadiranPegawai.addEventListener('click', function(){
            event.preventDefault();
            tabel.style.display = 'none';
            tabel2.style.display = 'block';
        })
    </script>
</body>
</html>

