<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Gaji</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Laporan Gaji</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR" style="background-color: #444444;">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/owner/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <div id="laporan_gaji">
            <h1>Laporan Gaji Pegawai</h1>
            <p>Laporan gaji pegawai akan ditampilkan di sini setelah diproses.</p>
            <label for="pegawai_id">Masukkan ID Pegawai:</label>
            <input type="text" id="pegawai_id" name="pegawai_id" required><br>
            <button type="submit">Request Laporan Semua Pegawai</button>
            <a href="generate_laporan_gaji.html"><button>Request Laporan Gaji</button></a>
        </div>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>

