<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/owner.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Dashboard</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>  
            <li><a href="/owner/dashboard" id="dash" style="background-color: #444444;">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/owner/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut" th:action="@{/}">Logout</button>
            </form>
        </div>
    </nav>
    <main>       
        <section>
            <h2>Riwayat Kehadiran Pegawai</h2>
            <h2 class="date"></h2>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Masuk</th>
                        <th>Pulang</th>
                        <th>Durasi Bekerja</th> 
                    </tr>
                    <th:block th:each="kehadiran : ${kehadirans}">
                        <tr th:if="${kehadiran.tanggal.equals(today)}">
                            <td th:text="${kehadiran.namapegawai}"></td>
                            <td th:text="${kehadiran.tanggal}"></td>
                            <td th:text="${kehadiran.jammasuk}"></td>
                            <td th:text="${kehadiran.jamkeluar}"></td>
                            <td th:text="${kehadiran.durasikerja}"></td>
                        </tr>
                    </th:block>                    
                </table>
            </div>
        </section>
    </main>
    </main>
    <footer>
    </footer>
 
    <script>
        const today = new Date();
        const year = today.getFullYear();
        const monthNames = [
            "Januari", "Februari", "Maret", "April", "Mei", "Juni", 
            "Juli", "Agustus", "September", "Oktober", "November", "Desember"
        ];
        const day = today.getDate();
        const month = monthNames[today.getMonth()]; 
        const formattedDate = `${day} ${month} ${year}`;
        document.querySelector(".date").textContent = formattedDate;

        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>

