<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Dashboard</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>  
            <li><a href="/owner/dashboard" id="dash" style="background-color: #444444;">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>       
        <section>
            <h2>Riwayat Kehadiran Pegawai</h2>
            <h2>11 November 2024</h2>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Masuk</th>
                        <th>Pulang</th>
                        <th>Durasi Bekerja</th> 
                    </tr>
                    <th:block th:each="kehadiran : ${kehadirans}">
                        <tr>
                            <td th:text="${kehadiran.namapegawai}"></td>
                            <td th:text="${kehadiran.tanggal}"></td>
                            <td th:text="${kehadiran.jammasuk}"></td>
                            <td th:text="${kehadiran.jamkeluar}"></td>
                            <td th:text="${kehadiran.durasikerja}"></td>
                        </tr>
                    </th>
                </table>
            </div>
        </section>
    </main>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "login.html";
        });
    </script>
</body>
</html>

