 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Tambah Pegawai</title>
     <link rel="stylesheet" href="../css/owner.css">
     <link rel="stylesheet" href="../css/owner/insertData.css">
     <script src="../js/script.js" defer></script>
 </head>
 <body>
     <header>
         <div class="header-container">
             <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
             <h1>Tambah Pegawai</h1>
         </div>
     </header>
     <nav class="sidebar" id="sidebar">
         <div class="xContainer">
             <button id="x" onclick="toggleMenu()">X</button>
         </div>
         <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP" style="background-color: #444444;">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
         </ul>
         <div class="logoutContainer">
             <button class="logout-btn" id="logOut">Logout</button>
         </div>
     </nav>
     <main>
        <!-- error msg -->
        <p th:if="${successMessage != null}" style="color: green;" th:text="${successMessage}"></p>
        <p th:if="${errorMessage != null}" style="color: red;" th:text="${errorMessage}"></p>
         <div id="head">
             <fieldset>
                 <legend><h2>Menambahkan Data Baru</h2></legend>
                 <label for="table">Pilih data yang ingin ditambahkan:</label>
                 <select id="table" name="table">
                     <option value="Default">--Pilih Data--</option>
                     <option value="Pegawai">Pegawai</option>
                     <option value="Jabatan">Jabatan</option>
             </fieldset>
             <form action="data_success.html" method="POST">                </select><br>
                 <br>
             </form>
         </div>
     
         <div id="masuk_data_pegawai">
             <form action="tambah-pegawai" method="POST" id="form_pegawai" style="display: none;">
                 <h1>Masukkan Data Pegawai</h1>
                 <table>
                     <tr>
                         <td><label for="nama">Nama <span style="color: red;">*</span></label></td>
                         <td><input type="text" id="nama" name="nama" required><br></td>
                     </tr>
                     <tr>
                         <td><label for="no_hp">Nomor HP <span style="color: red;">*</span></label></td>
                         <td><input type="text" id="no_hp" name="no_hp" required><br></td>
                     </tr>
                     <tr>
                         <td><label for="email">Email <span style="color: red;">*</span></label></td>
                         <td><input type="email" id="email" name="email" required><br></td>
                     </tr>
                     <tr>
                         <td><label for="alamat">Alamat <span style="color: red;">*</span></label></td>
                         <td><input type="text" id="alamat" name="alamat" required><br></td>
                     </tr>
                     <tr>
                        <td><label for="kecamatan">Kecamatan <span style="color: red;">*</span></label></td>
                        <td>
                            <select id="kecamatan" name="kecamatan" required>
                                <option value="">--Pilih Kecamatan--</option>
                                <option th:each="kecamatan : ${listKecamatan}" 
                                        th:value="${kecamatan}" 
                                        th:text="${kecamatan}"></option>
                            </select>
                        </td>
                    </tr>
                     <tr>
                        <td><label for="kelurahan">Kelurahan <span style="color: red;">*</span></label></td>
                        <td>
                            <select id="kelurahan" name="kelurahan" required>
                                <option value="">--Pilih Kelurahan--</option>
                                <option th:each="kelurahan : ${listKelurahan}" 
                                        th:value="${kelurahan}" 
                                        th:text="${kelurahan}"></option>
                            </select>
                        </td>
                    </tr>
                     <tr>
                         <td><label for="jabatan">Jabatan <span style="color: red;">*</span></label></td>
                         <td>
                         <select id="jabatan" name="jabatan" required>
                            <option value="">--Pilih Jabatan--</option>
                            <option th:each="jabatan : ${listJabatan}" 
                                    th:value="${jabatan}" 
                                    th:text="${jabatan}"></option>
                        </select>
                        </td>
                     </tr>
                     <tr><td colspan="2"><button type="submit" class="buttonSubmit">Simpan Pegawai</button></td></tr>
                 </table>             
             </form>
 
             <form action="tambah-jabatan" method="POST" id="form_jabatan" style="display: none;">
                <h1>Masukkan Data Jabatan</h1>
                <table>
                    <tr>
                        <td><label for="jabatan_name">Nama Jabatan: <span style="color: red;">*</span></label></td>
                        <td><input type="text" id="jabatan_name" name="namaJabatan" ><br></td>
                    </tr>
                    <tr>
                        <td><label for="satuan_gaji">Nominal Satuan Gaji: <span style="color: red;">*</span></label></td>
                        <td><input type="number" id="satuan_gaji" name="gaji"><br></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" class="buttonSubmit">Simpan Jabatan</button></td>
                    </tr>
                </table>  
            </form>            
         </div>
     </main>
     <footer>
     </footer>
 
     <script>
         function toggleMenu() {
             const sidebar = document.getElementById('sidebar');
             sidebar.classList.toggle('active');
         }
 
         const logOutButton = document.querySelector('#logOut')
         logOutButton.addEventListener ('click', (event) => {
             event.preventDefault();
             window.location.href = "ownerLogin.html";
         });
         const tableSelect = document.getElementById('table');
         const formPegawai = document.getElementById('form_pegawai');
         const formJabatan = document.getElementById('form_jabatan');
         const masukDataPegawai = document.getElementById('masuk_data_pegawai');
     
         tableSelect.addEventListener('change', function () {
             if (this.value === 'Pegawai') {
                 formPegawai.style.display = 'block';
                 formJabatan.style.display = 'none';
                 masukDataPegawai.style.border = '2px solid #444444';
             } else if (this.value === 'Jabatan') {
                 formPegawai.style.display = 'none';
                 formJabatan.style.display = 'block';
                 masukDataPegawai.style.border = '2px solid #444444';
             } else {
                 formPegawai.style.display = 'none';
                 formJabatan.style.display = 'none';
                 masukDataPegawai.style.border = '2px solid #444444';
             }
         });
     </script>
 </body>
 </html>
 