<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Kehadiran</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Laporan Kehadiran</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR" style="background-color: #444444;">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR" >Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>
        <div id="laporan_kehadiran">
            <fieldset>
                <legend><h2>Laporan Kehadiran Pegawai</h2></legend>
                <table>
                    <tr>
                        <td><label for="pegawai_id">Pilih Pegawai <span id="star">*</span>:</label></td>
                        <td>
                            <select id="select_pegawai">
                                <option value="Pilih Pegawai">--Pilih Pegawai--</option>
                                <option value="1">0812345667-Steven</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div id="cek_kehadiran_pegawai">
            <!--  action="tampilkan_kehadiran_pegawai.html" method="GET" -->
            <form id="form kehadiran">
                <table>
                    <tr>
                        <td>
                            <button id="cek_kehadiran">Cek Kehadiran</button>
                        </td>
                        <td>
                            <button id="cek_kehadiran_semua">Cek Kehadiran Seluruh Pegawai</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <section style="display: none;" id="Tabelkehadiran">
            <h3>Riwayat Kehadiran 11 November 2024</h3>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Status</th>
                        <th>Durasi Bekerja</th>
                    </tr>
                    <tr>
                        <td rowspan="2">Steven</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:10:53</td>
                        <td>Masuk</td>
                        <td rowspan="2">8 jam 10 menit</td>
                    </tr>
                    <tr>
                        <td>15:20:46</td>
                        <td>Pulang</td>
                    </tr>

                    <tr>
                        <td rowspan="2">Olivia</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:07:49</td>
                        <td>Masuk</td>
                        <td rowspan="2">7 jam 40 menit</td>
                    </tr>
                    <tr>
                        <td>14:47:12</td>
                        <td>Pulang</td>
                    </tr>
                    <tbody id="attendanceTableBody">
                    </tbody>
                </table>
            </div>
        </section>
        <section style="display: none;" id="TabelkehadiranSteven">
            <h3>Riwayat Kehadiran 11 November 2024</h3>
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Waktu</th>
                        <th>Status</th>
                        <th>Durasi Bekerja</th>
                    </tr>
                    <tr>
                        <td rowspan="2">Steven</td>
                        <td rowspan="2">11-11-2024</td>
                        <td>07:10:53</td>
                        <td>Masuk</td>
                        <td rowspan="2">8 jam 10 menit</td>
                    </tr>
                    <tr>
                        <td>15:20:46</td>
                        <td>Pulang</td>
                    </tr>
                    <tbody id="attendanceTableBody">
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "login.html";
        });

        let kehadiran = document.getElementById('cek_kehadiran_semua');
        let kehadiranPegawai = document.getElementById('cek_kehadiran');
        let tabel = document.getElementById('Tabelkehadiran');
        let tabel2 = document.getElementById('TabelkehadiranSteven');
        kehadiran.addEventListener('click', function(){
            event.preventDefault();
            tabel2.style.display = 'none';
            tabel.style.display = 'block';
        })
        kehadiranPegawai.addEventListener('click', function(){
            event.preventDefault();
            tabel.style.display = 'none';
            tabel2.style.display = 'block';
        })
    </script>
</body>
</html>

