<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Kehadiran</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Laporan Kehadiran</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR" style="background-color: #444444;">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR" >Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>
        <div id="laporan_kehadiran">
            <fieldset>
                <legend><h2>Laporan Kehadiran Pegawai</h2></legend>
                <form action="laporan-kehadiran" method="POST">
                    <table>
                        <tr>
                            <td><label for="pegawai_id">Pilih Pegawai <span id="star">*</span>:</label></td>
                            <td>
                                <select id="select_pegawai" name="nomorhp">
                                    <option value="full">--Pilih Pegawai--</option>
                                    <option th:each="pegawai : ${pegawaiList}" 
                                            th:value="${pegawai.nomorhp}" 
                                            th:text="${pegawai.namapegawai} + ' - ' + ${pegawai.nomorhp}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="but_update">Pilih</button>
                </form>
            </fieldset>
        </div>
        <h3></h3>
        <section id="Tabelkehadiran" th:if="${pegawai != null}">
            <div class="table">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Masuk</th>
                        <th>Pulang</th>
                        <th>Durasi Bekerja</th>
                    </tr>
                    <tbody>
                        <tr th:each="kehadiran : ${pegawai}">
                            <td th:text="${kehadiran.nama}">Nama Pegawai</td>
                            <td th:text="${kehadiran.tanggal}">Tanggal</td>
                            <td th:text="${kehadiran.jamMasuk}">Jam Masuk</td>
                            <td th:text="${kehadiran.jamKeluar}">Jam Keluar</td>
                            <td th:text="${kehadiran.getDurasiKerja()}">Jam Keluar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>        
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
        const today = new Date();
        const formattedDate = today.toLocaleDateString('en-CA');

        const heading = document.querySelector('h3');

        function getMonthName() {
            const months = [
                'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
                'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
            ];
            const today = new Date();
            return months[today.getMonth()];
        }

        heading.textContent = 'Riwayat Kehadiran ' + getMonthName() + ' ' + new Date().getFullYear();


        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "login.html";
        });
    </script>
</body>
</html>

