<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Pegawai</title>
    <link rel="stylesheet" href="/css/owner.css" th:href="@{/css/owner.css}">
    <script src="/js/script.js" th:src="@{/js/script.js}" defer></script>    
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>List Pegawai</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP" style="background-color: #444444;">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>
        <div id="pilih_pegawai">
            <fieldset>
                <legend><h2>Cek Data Pegawai</h2></legend>
                <form th:action="list-pegawai" method="POST" id="form-cek-data-pegawai">
                    <table>
                        <tr>
                            <td><label for="pegawai_id">Pilih Pegawai <span id="star">*</span>:</label></td>
                            <td>
                                <select id="select_pegawai" name="nomorhp">
                                    <option value="">--Pilih Pegawai--</option>
                                    <option th:each="pegawai : ${pegawaiList}" 
                                            th:value="${pegawai.nomorhp}" 
                                            th:text="${pegawai.namapegawai} + ' - ' + ${pegawai.nomorhp}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="but_update">search</button>
                </form>
            </fieldset>
        </div>

        <div class="table" id="tabel1" th:if="${pegawai != null}">
            <div id="pegawai_details" th:if="${pegawai != null}">
                <h3>Data Pegawai</h3>
                <table>
                    <tr>
                        <th>Nama</th>
                        <td th:text="${pegawai.namapegawai}"></td>
                    </tr>
                    <tr>
                        <th>Nomor HP</th>
                        <td th:text="${pegawai.nomorhp}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${pegawai.email}"></td>
                    </tr>
                    <tr>
                        <th>Jabatan</th>
                        <td th:text="${pegawai.jabatan}"></td>
                    </tr>
                    <tr>
                        <th>Alamat</th>
                        <td th:text="${pegawai.alamat}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="table" id="tabel2" th:if="${pegawai == null}">
            <table>
                <tr>
                    <th>Nama</th>
                    <th>Nomor HP</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Jabatan</th>
                </tr>
                <tr th:each="pegawai : ${listPegawai}">
                    <td th:text="${pegawai.namapegawai}"></td>
                    <td th:text="${pegawai.nomorhp}"></td>
                    <td th:text="${pegawai.email}"></td>
                    <td th:text="${pegawai.alamat}"></td>
                    <td th:text="${pegawai.jabatan}"></td>
                </tr>
            </table>
        </div>
        
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "ownerLogin.html";
        });

        let data = document.getElementById('cek_data');
        let dataSemua = document.getElementById('cek_data_semua');
        let tabel = document.getElementById('tabel1');
        let tabel2 = document.getElementById('tabel2');
        data.addEventListener('click', function(){
            event.preventDefault();
            tabel2.style.display = 'none';
            tabel.style.display = 'block';
        })
        dataSemua.addEventListener('click', function(){
            event.preventDefault();
            tabel.style.display = 'none';
            tabel2.style.display = 'block';
        })
        document.getElementById('submit_data').addEventListener('click', function() {
            document.getElementById('form-cek-data-pegawai').submit();
        });
    </script>
</body>
</html>

