<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Pegawai</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<style>
    #cek_data_pegawai {
        border: none;
        border-radius: 0px;
        margin-top: 20px;
        padding: 0px;
        width: 550px;
    }
</style>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>List Pegawai</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP" style="background-color: #444444;">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <button class="logout-btn" id="logOut">Logout</button>
        </div>
    </nav>
    <main>
        <div id="pilih_pegawai">
            <fieldset>
                <legend><h2>Cek Data Pegawai</h2></legend>
                <form action="/owner/cek-data-pegawai" method="POST">
                    <table>
                        <tr>
                            <td><label for="pegawai_id">Pilih Pegawai <span id="star">*</span>:</label></td>
                            <td>
                                <select id="select_pegawai">
                                    <option value="Pilih Pegawai">--Pilih Pegawai--</option>
                                    <option th:each="pegawai : ${pegawaiList}" th:value="${pegawai.nomorhp}" th:text="${pegawai.namapegawai}">--</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>
        </div>
        <div id="cek_data_pegawai">
            <form action="tampilkan_data_pegawai.html" method="GET">
                <table>
                    <tr>
                        <td>
                            <button type="submit" id="cek_data">Cek Data</button>
                        </td>
                        <td>
                            <button type="submit" id="cek_data_semua">Cek Seluruh Data Pegawai</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="table" id="tabel1" style="display:none">
            <div id="pegawai_details" th:if="${pegawai != null}">
                <h3>Data Pegawai</h3>
                <table>
                    <tr>
                        <th>Nama</th>
                        <td th:text="${pegawai.namapegawai}"></td>
                    </tr>
                    <tr>
                        <th>Nomor HP</th>
                        <td th:text="${pegawai.nomorhp}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${pegawai.email}"></td>
                    </tr>
                    <tr>
                        <th>Jabatan</th>
                        <td th:text="${pegawai.jabatan}"></td>
                    </tr>
                    <tr>
                        <th>Alamat</th>
                        <td th:text="${pegawai.alamat}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="table" id="tabel2" style="display:none">
            <table>
                <tr>
                    <th>Nama</th>
                    <th>Nomor HP</th>
                    <th>Email</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <th>Alamat</th>
                    <th>Jabatan</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Steven Febrian</td>
                    <td>081234567</td>
                    <td>steven@gmail.com</td>
                    <td>Cidadap</td>
                    <td>Hergamanah</td>
                    <td>Jl. Ciumbuleuit No. 94</td>
                    <td>Barista</td>
                    <td style="background-color: green; color: white">Aktif</td>
                </tr>
                <tr>
                    <td>Kris</td>
                    <td>0898765</td>
                    <td>kris@gmail.com</td>
                    <td>Cidadap</td>
                    <td>Hergamanah</td>
                    <td>Jl. Ciumbuleuit No. 94</td>
                    <td>Janitor</td>
                    <td style="background-color: red; color: white">Tidak Aktif</td>
                </tr>
            </table>
            </table>
        </div>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }

        const logOutButton = document.querySelector('#logOut')
        logOutButton.addEventListener ('click', (event) => {
            event.preventDefault();
            window.location.href = "ownerLogin.html";
        });

        let data = document.getElementById('cek_data');
        let dataSemua = document.getElementById('cek_data_semua');
        let tabel = document.getElementById('tabel1');
        let tabel2 = document.getElementById('tabel2');
        data.addEventListener('click', function(){
            event.preventDefault();
            tabel2.style.display = 'none';
            tabel.style.display = 'block';
        })
        dataSemua.addEventListener('click', function(){
            event.preventDefault();
            tabel.style.display = 'none';
            tabel2.style.display = 'block';
        })
    </script>
</body>
</html>

