<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../js/script.js" defer></script>
    <title>Absensi</title>
</head>
<body>
    <header>
        <h1>Welcome to Kafe IF</h1>
    </header>  
    <main>
        <div class="loginContainer">
            <h2>Log in</h2>
            <form action="/owner/login" method="post">
                <div class="input-group">
                    <img src="../../static/assets/user.png" alt="user">
                    <input type="text" id="username" name="username" placeholder="username" th:value="${username}">
                </div>
                <div class="input-group">
                    <img src="../../static/assets/lock.png" alt="password">
                    <input type="password" id="password" name="password" placeholder="password" th:value="${password}">
                </div>
                <button id="ownerLogin" type="submit">Log in</button>
            </form>
            <div>
                <span id="statusLogin" th:if="${error}" th:text="${error}"> </span>
                <a href="/" class="changeRole"><u>< Pegawai </u></a>
            </div>
        </div>
    </main>
</body>
</html>
