<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pegawai</title>
    <link rel="stylesheet" href="../css/owner.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Update Pegawai</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul> 
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP" style="background-color: #444444;">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
            <li><a id="paySalary">Bayar Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/owner/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <div id="update_data_pegawai">
            <h1>Update Data Pegawai</h1>x
            <form action="proses_update_data.html" method="POST">
                <label for="pegawai_id">Masukkan ID Pegawai <span id="star">*</span>:</label>
                <input type="text" id="pegawai_id" name="pegawai_id" required><br>
                <label for="no_hp">Nomor HP Baru:</label>
                <input type="text" id="no_hp" name="no_hp"><br>
                <label for="email">Email Baru:</label>
                <input type="email" id="email" name="email"><br>
                <label for="alamat">Alamat Baru:</label>
                <input type="text" id="alamat" name="alamat"><br>
                <label for="jabatan">Jabatan Baru:</label>
                <input type="text" id="jabatan" name="jabatan"><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>

