<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pegawai</title>
    <link rel="stylesheet" href="../css/owner.css">
    <link rel="stylesheet" href="../css/owner/updatePegawai.css">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <h1>Update Pegawai</h1>
        </div>
    </header>
    <nav class="sidebar" id="sidebar">
        <div class="xContainer">
            <button id="x" onclick="toggleMenu()">X</button>
        </div>
        <ul>
            <li><a href="/owner/dashboard" id="dash">Dashboard</a></li>
            <li><a href="/owner/tambah-data" id="addP">Tambah Data</a></li>
            <li><a href="/owner/list-pegawai" id="listP">List Pegawai</a></li>
            <li><a href="/owner/update-pegawai" id="updateP" style="background-color: #444444;">Update Pegawai</a></li>
            <li><a href="/owner/laporan-kehadiran" id="attendanceR">Laporan Kehadiran</a></li>
            <li><a href="/owner/bayar-gaji" id="salaryR">Laporan Gaji</a></li>
        </ul>
        <div class="logoutContainer">
            <form id="logoutForm" action="/owner/logout" method="post">
                <button type="submit" class="logout-btn" id="logOut" th:action="@{/}">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <p th:if="${successMessage != null}" style="color: green;" th:text="${successMessage}"></p>
        <p th:if="${errorMessage != null}" style="color: red;" th:text="${errorMessage}"></p>
        <div id="pilih_pegawai">
            <form action="update-pegawai" method="POST">
                <fieldset>
                    <legend><h2>Pilih Pegawai yang Akan Diupdate</h2></legend>
                    <table>
                        <tr>
                            <td><label for="pegawai_id">Pilih Pegawai <span id="star">*</span>:</label></td>
                            <td>
                                <select name="namapegawai">
                                    <option value="Pilih Pegawai">--Pilih Pegawai--</option>
                                    <option th:each="pegawai : ${pegawaiList}" 
                                    th:text="${pegawai.namapegawai}" th:value="${pegawai.namapegawai}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="but_update">Pilih</button>
                </fieldset>
            </form>
        </div>

        <div class="container_data" th:if="${pegawai != null}">
            <div id="pilih_pegawai">
                <fieldset>
                    <legend><h2>Data Pegawai Sebelum</h2></legend>
                    <table>
                        <tr>
                            <td><label for="namapegawai">Nama:</label></td>
                            <td th:text="${pegawai.namapegawai}"></td>
                        </tr>
                        <tr>
                            <td><label for="nomorhp">Nomor HP:</label></td>
                            <td th:text="${pegawai.nomorhp}"></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td th:text="${pegawai.email}"></td>
                        </tr>
                        <tr>
                            <td><label for="alamat">Alamat:</label></td>
                            <td th:text="${pegawai.alamat}"></td>
                        </tr>
                        <tr>
                            <td><label for="jabatan">Jabatan:</label></td>
                            <td th:text="${pegawai.jabatan}"></td>
                        </tr>
                    </table>
                </fieldset>
            </div> 
            <div>
                <form action="update-pegawai2" method="POST">
                    <fieldset>
                        <legend><h2>Update Data Pegawai</h2></legend>
                        <table>
                            <tr>
                                <input type="hidden" name="nama" th:value="${pegawai.namapegawai}">
                            </tr>
                            <tr>
                                <td><label for="no_hp">Nomor HP Baru:</label></td>
                                <td><input type="text" id="no_hp" name="no_hp"><br>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="email">Email Baru:</label>
                                </td>
                                <td><input type="email" id="email" name="email"><br>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="kecamatan">Kecamatan</label></td>
                                <td>
                                    <select id="kecamatan" name="kecamatan" required>
                                        <option value="">--Pilih Kecamatan--</option>
                                        <option th:each="kecamatan : ${listKecamatan}" 
                                                th:value="${kecamatan}" 
                                                th:text="${kecamatan}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="kelurahan">Kelurahan</label></td>
                                <td>
                                    <select id="kelurahan" name="kelurahan" required>
                                        <option value="">--Pilih Kelurahan--</option>
                                        <option th:each="kelurahan : ${listKelurahan}" 
                                                th:value="${kelurahan}" 
                                                th:text="${kelurahan}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="alamat">Alamat Baru:</label>
                                </td>
                                <td><input type="text" id="alamat" name="alamat"><br>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="jabatan">Jabatan Baru:</label>
                                </td>
                                <td>
                                    <select id="jabatan" name="jabatan" required>
                                        <option value="">--Pilih Jabatan--</option>
                                        <option th:each="jabatan : ${listJabatan}" 
                                                th:value="${jabatan}" 
                                                th:text="${jabatan}"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="but_update">Update</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
    <footer>
    </footer>

    <script>
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>

